@(username: String, gitBasic: String, dbs: List[List[String]])(implicit request: RequestHeader, flash: Flash)

@main("Let's quick set up before using CodeForge") {
    <script type="text/javascript">
            function showDiv(toggle){
                document.getElementById(toggle).style.display = "block";
            }

            function hideDiv(toggle){
                document.getElementById(toggle).style.display = "none";
            }
    </script>


    <div>
        <h2>Please, @username, Config data base for @gitBasic</h2>
    <ul>

        @for(db <- dbs){

            @if(db(1) == "1") {
                <li>
                <div>
                    <input type="button" name="@db(0)" value="@db(0)" onclick="showDiv('toggle@db(0)')"></input>

                    <div id="toggle@db(0)" style="display:none">
                        <form method="post" action="@routes.HomeController.basicDash">
                            <h3>Configuration for connection </h3>
                            DB: <input type="radio" name="@db(0)" checked>@db(0)</input>
                            <br>
                            host ip: <input type="text" name="host"></input>
                            <br>
                            port: <input type="text" name="port"></input>
                            <br>
                            database name: <input type="text" name="dbname"></input>
                            <br>
                            user: <input type="text" name="user"></input>
                            <br>
                            password: <input type="password" name="password"></input>
                            <br>
                            <input type="submit"></input>
                        </form>
                        <br>

                        <input type="button" name="answer" value="hide" onclick="hideDiv('toggle@db(0)')"></input>
                    </div>
                </div>
                </li>
            } else {
                <li><input type="button" name="@db(0)" value="@db(0)"  onclick=""></input></li>
            }
        }

    </ul>
    </div>

}