@(gits: List[List[String]], userName: String)(implicit request: RequestHeader, flash: Flash)

@main("Let's quick set up before using CodeForge") {

    <script type="text/javascript">
            function showDiv(toggle){
                document.getElementById(toggle).style.display = "block";
            }

            function hideDiv(toggle){
                document.getElementById(toggle).style.display = "none";
            }
    </script>

    <div>
        <h2>@userName, сделайте настройк GIT</h2>
        <ul>
            @for(git <- gits){

                @if(git(1) == "1") {
                    <div>
                        <input type="button" name="@git(0)" value="@git(0)" onclick="showDiv('toggle@git(0)')"></input>

                        <div id="toggle@git(0)" style="display:none">
                            <form method="post" action="@routes.LoginController.setGitByUser">
                                <h3>Set GIT by username</h3>
                                Git platform: <input type="text" name="platform" value="@git(0)"></input>
                                <br>
                                Git username: <input type="text" name="username"></input>
                                <br>
                                GitRepo (unnecessary): <input type="text" name="repo"></input>
                                <br>
                                <input type="submit"></input>
                            </form>
                            <br>
                            <form method="post" action="@routes.LoginController.setGitByOrg">
                                <h3>Set GIT by organization</h3>
                                Git platform: <input type="text" name="platform" value="@git(0)"></input>
                                <br>
                                Git oragnization: <input type="text" name="organization"></input>
                                <br>
                                GitRepo (unnecessary): <input type="text" name="repo"></input>
                                <br>
                                <input type="submit"></input>
                            </form>
                            <br>

                            <input type="button" name="answer" value="hide" onclick="hideDiv('toggle@git(0)')"></input>
                        </div>
                    </div>
                    </li>
                } else {
                <div>
                    <input type="button" name="" value="@git(0)"></input>

                </div>
                </li>
                }
            }
        </ul>
    </div>

}